In [57]:
from pathlib import Path
import pandas as pd


data_dir = Path().cwd() / '../data/preprocessed/binance'

pools = pd.read_csv(data_dir / 'pools.csv')
accounts = pd.read_csv(data_dir / 'accounts.csv')
txs = pd.read_csv(data_dir / 'txs.csv')
utxos = pd.read_csv(data_dir / 'utxos.csv')

In [11]:
print(pools.columns)
print(accounts.columns)
print(txs.columns)
print(utxos.columns)

Index(['pool_id', 'stake_key', 'type'], dtype='object')
Index(['stake_key', 'address'], dtype='object')
Index(['address', 'tx_id'], dtype='object')
Index(['tx_id', 'address', 'utxo_type', 'amount'], dtype='object')

In [60]:
pools

,pool_id,stake_key,type
0,0ac5fabd6b2f75f5583a4de5b141115ab7d036ee66b130...,stake1uyhrwf39j4m5pyldk5s4ykcqdevd5v8ygshxtjpq...,owner
1,0ac5fabd6b2f75f5583a4de5b141115ab7d036ee66b130...,stake1u8gajpqath8r9zf3nzyzjfz9x260ky33n50x0wv4...,delegator
2,0ac5fabd6b2f75f5583a4de5b141115ab7d036ee66b130...,stake1uyhrwf39j4m5pyldk5s4ykcqdevd5v8ygshxtjpq...,delegator
3,11c660b87cb43e4720b053895b3137b4c08f367dbd0301...,stake1u9khq0a2uk67cahzgul4cqqywg2xlyq7erfz7nwp...,owner
4,11c660b87cb43e4720b053895b3137b4c08f367dbd0301...,stake1u9khq0a2uk67cahzgul4cqqywg2xlyq7erfz7nwp...,delegator
...,...,...,...
451,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1uy9dl6pfq3lwdkxu5m898g5wqlvqmkfhld40pkjp...,delegator
452,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1u90nsf4cwzhg2g4u4uls0tv60ru068gmqrnfnyss...,delegator
453,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1uxn4g64c5c7esrcwu4r9ykl59s2zgg56wg0sx5rz...,delegator
454,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1uypc8x856pr7sx3vrs30s9qmhyhr0yk2m9v7kxky...,delegator
455,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1u9akww3p05hwcrmlnrn3x8237qvgvld2dvup6exw...,delegator

In [6]:
accounts

,stake_key,address
0,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1q8d5dndz6sx0c4g7kzvwx5v0tlp09zuj5ewm3fuzp...
1,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1q89k29h2h4fmdesec9xwctstnrdrf96x7hna9e48t...
2,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1qyp3fxdpn5xvq389p9m0r7kxqfhl6myqkgx4076w8...
3,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1qxvw2fmau8xuekehj7cnvzgvwac2wgzxey9g7vwf4...
4,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1qyaxudvh4xrxc7nnueq2hqxvhdle3rzqncjdahprl...
...,...,...
2230,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1qx54h5ytguprqyhq9pc67f4dq47q2rz89hnsw626w...
2231,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1qyjpwlndrk2hr737qhf4669af68lpe0ytk52j7fnj...
2232,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1qx4tsy62puu4mrjcp4ay4ryg246zaf3wdueql5uuu...
2233,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1q8kzxdpsx057tnjtwwdxnyvcnqvhqy4lrtv0nuwgp...
2234,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1q8rvtz6rn20v7pp45tqhjqeamvqhpfwjjnvcfl64z...

In [4]:
txs

,address,tx_id
0,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,3cdd1b24d9fe89348f081c18b350e004812e85a0577973...
1,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,d264557dd52a4aae5f3d824bc7c185af14359296d73d9c...
2,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,d8b5666e6dd7f6c6d09d550ddde89103560bd740957940...
3,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,94998195e851158e6b3b052db4adc9241d0b9b606211d2...
4,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,23a179a4f0a5f799eae8eaf71182194c3e04c37e8ff744...
...,...,...
13371,addr1qyzxp6vnghm2ajr98p3c7mmjsha2w0lcvfp4d7j6y...,e501e1616a504ff133be623cc394c0261601b56f870b1c...
13372,addr1qyzxp6vnghm2ajr98p3c7mmjsha2w0lcvfp4d7j6y...,f3885eea058804e1856c10f87f097cafe6b8899597379d...
13373,addr1qyzzjm7dnfvua4cr8qrm6qpzsakqlgnuddtrz88sd...,0b03b8d46e8e94e14af46e708898150f576c2db4815ec6...
13374,addr1z9nz8vhzdxq9dmchmy25rxcv5lcymd6jfruz2le0n...,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...
13375,addr1z9nz8vhzdxq9dmchmy25rxcv5lcymd6jfruz2le0n...,0cf3990b8a65c7270f763afb24b31987c8c13278071f79...

In [5]:
utxos

,tx_id,address,utxo_type,amount
0,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9atjfpqwdtg7ytz0pz9zcaqvx8zr2uv6ysvc4csq...,input,50000000000
1,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9fsfa04de9xgza5xwqqy2c7unz907una9qwmpgyv...,input,159631517
2,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q836qf2vqzv57uc42rupyw039fsvnlfuaxumry25x...,output,27796889200
3,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,DdzFFzCqrhsgWNp9jnpRieShdN1LRy4mNzM9y23CKSKTw6...,output,1314550
4,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q8nt4cndqrrqk248sd96kg9urgjh55sp58snu97vp...,output,151716900
...,...,...,...,...
49264,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8tqqyccvj7402zns2tea78d42etw520fzvf22zmy...,output,1034400
49265,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8ka486anvvxl8dg56te7c5pswta50am7a6vuu0c2...,output,1051640
49266,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w835n68qeax023uperwgwlruk3d8yjl4k98r433nh...,output,1055950
49267,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9zpzvuevtrchc7fugx63scn8fukdx4vr3lv7m5mh...,output,1051640
49268,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9v5h80g9nk4qn3vxxxrzpwp2vnr4fv9jgd7jwcnk...,output,1034400

In [9]:
utxos[utxos['tx_id'] == 'a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9fa4beef098c28f70ec']

,tx_id,address,utxo_type,amount
31901,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,1344798
31902,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,1379280
31903,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,91146909
31904,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,1555138
31905,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,2579253
31906,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,1413762
31907,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1z9nz8vhzdxq9dmchmy25rxcv5lcymd6jfruz2le0n...,output,2275680
31908,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1z9nz8vhzdxq9dmchmy25rxcv5lcymd6jfruz2le0n...,output,3500000
31909,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9tmfp53cc8ef4hxj5req3czthpgcf3rsg54jjgpz...,output,1000000
31910,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q8ff0pdlaud0dxw84p0ypqc4c74t27c5s29x3azja...,output,1200000
31911,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,output,91174555

## Construct and Clean Graph

In [95]:
pools.sort_values('type', ascending=False, inplace=True)
# Drop duplicates by 'stake_key', keep first (which will be 'owner' now)
pools.drop_duplicates(subset='stake_key', keep='first', inplace=True)

joined = pd.merge(accounts, pools, on='stake_key')
joined = pd.merge(utxos, joined, on='address', how='left')
joined.loc[joined['address'].apply(lambda x: x.startswith('Ae')), 'type'] = 'byron'
joined['type'].fillna('outside', inplace=True)
joined['pool_id'] = joined['pool_id'].fillna(joined['type'])

# unique_addr_wo_stakekeys = joined[joined['stake_key'].isna() & (joined['type'] != 'byron')]['address'].unique()
# len(unique_addr_wo_stakekeys) # TODO maybe fetch stake_keys for those outside addresses to merge them
joined['stake_key'].fillna(joined['address'], inplace=True)
joined

,tx_id,address,utxo_type,amount,stake_key,pool_id,type
0,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9atjfpqwdtg7ytz0pz9zcaqvx8zr2uv6ysvc4csq...,input,50000000000,addr1q9atjfpqwdtg7ytz0pz9zcaqvx8zr2uv6ysvc4csq...,outside,outside
1,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9fsfa04de9xgza5xwqqy2c7unz907una9qwmpgyv...,input,159631517,addr1q9fsfa04de9xgza5xwqqy2c7unz907una9qwmpgyv...,outside,outside
2,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q836qf2vqzv57uc42rupyw039fsvnlfuaxumry25x...,output,27796889200,addr1q836qf2vqzv57uc42rupyw039fsvnlfuaxumry25x...,outside,outside
3,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,DdzFFzCqrhsgWNp9jnpRieShdN1LRy4mNzM9y23CKSKTw6...,output,1314550,DdzFFzCqrhsgWNp9jnpRieShdN1LRy4mNzM9y23CKSKTw6...,outside,outside
4,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q8nt4cndqrrqk248sd96kg9urgjh55sp58snu97vp...,output,151716900,stake1u83jlr5rqnwq3s4yg22cg6f8h54kwr9zapmthkwm...,279d3af9d898261a19860ebc05eed79104915f05ad9f69...,delegator
...,...,...,...,...,...,...,...
49264,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8tqqyccvj7402zns2tea78d42etw520fzvf22zmy...,output,1034400,addr1w8tqqyccvj7402zns2tea78d42etw520fzvf22zmy...,outside,outside
49265,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8ka486anvvxl8dg56te7c5pswta50am7a6vuu0c2...,output,1051640,addr1w8ka486anvvxl8dg56te7c5pswta50am7a6vuu0c2...,outside,outside
49266,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w835n68qeax023uperwgwlruk3d8yjl4k98r433nh...,output,1055950,addr1w835n68qeax023uperwgwlruk3d8yjl4k98r433nh...,outside,outside
49267,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9zpzvuevtrchc7fugx63scn8fukdx4vr3lv7m5mh...,output,1051640,addr1w9zpzvuevtrchc7fugx63scn8fukdx4vr3lv7m5mh...,outside,outside
49268,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9v5h80g9nk4qn3vxxxrzpwp2vnr4fv9jgd7jwcnk...,output,1034400,addr1w9v5h80g9nk4qn3vxxxrzpwp2vnr4fv9jgd7jwcnk...,outside,outside

In [102]:
def aggregate(df):
    result = {
        # 'stake_key': df.stake_key.iloc[0],
        # 'tx_id': df.tx_id.iloc[0],
        'amount': df.amount.sum(),
        'type': df.type.iloc[0]
    }
    return pd.Series(result)


aggregated = joined[joined['type'].isin(['owner', 'delegator'])].groupby(['stake_key', 'tx_id']).apply(aggregate)
aggregated

                                                                                                                amount
stake_key                                          tx_id
stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlkyq... 09da01186c206c834ce56648b5fabc3b2ff4e706c049a20...        109475425  \
                                                   0c0aaee118d6e9f825f686ca2e4d8b38cdff044bb1fce9d...       1626550735
                                                   12c42d85d16e5bcd548da3914753a4f1de09d11a5610e56...       1149737519
                                                   3931838b3fc418d29a7f79483ef0f9dcf2e0d4626b77ca1...          5000000
                                                   3f9b2d2962fe5047e833710b3a5b795271b7c1e229a465e...         38492559
...                                                                                                                ...
stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvwt... bc5b690fdb82545dd71aeeacd38b43e927d99987b784b96...          1000000
                                                   c8da613e1884efa7056d1f03ba39ada0714fd753ef5bef4...  129097039599450
                                                   d14d5ae360af0829bbf7d02dd29b7c32db45b32fd133f65...     957187244119
                                                   d7cc4b93cfcd76b03cf2567e294a6f646f47581c3fd52e2...  131807961885531
                                                   ec79f052de7c3296b1aadac04315131fe473c3c7425bccd...  127999997825567

                                                                                                            type
stake_key                                          tx_id
stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlkyq... 09da01186c206c834ce56648b5fabc3b2ff4e706c049a20...  delegator
                                                   0c0aaee118d6e9f825f686ca2e4d8b38cdff044bb1fce9d...  delegator
                                                   12c42d85d16e5bcd548da3914753a4f1de09d11a5610e56...  delegator
                                                   3931838b3fc418d29a7f79483ef0f9dcf2e0d4626b77ca1...  delegator
                                                   3f9b2d2962fe5047e833710b3a5b795271b7c1e229a465e...  delegator
...                                                                                                          ...
stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvwt... bc5b690fdb82545dd71aeeacd38b43e927d99987b784b96...  delegator
                                                   c8da613e1884efa7056d1f03ba39ada0714fd753ef5bef4...  delegator
                                                   d14d5ae360af0829bbf7d02dd29b7c32db45b32fd133f65...  delegator
                                                   d7cc4b93cfcd76b03cf2567e294a6f646f47581c3fd52e2...  delegator
                                                   ec79f052de7c3296b1aadac04315131fe473c3c7425bccd...  delegator

[11316 rows x 2 columns]

# Notes

In [ ]:
import networkx as nx


# Create a new directed graph
G = nx.DiGraph()

# Load transactions data from directory and create graph
for filename in os.listdir('data/'):
    with open('data/' + filename, 'r') as f:
        data = json.load(f)
        # Add nodes and edges to the graph
        for transaction in data:
            G.add_edge(transaction['sender'], transaction['receiver'], weight=transaction['amount'])

# Analyze the graph
print('Number of nodes: ', G.number_of_nodes())
print('Number of edges: ', G.number_of_edges())

# Draw the graph
pos = nx.spring_layout(G)

# Determine node colors
node_colors = []
for node in G.nodes():
    if node in bitpanda_ground_truth['deposit_addrs'] or node in exchange_addresses:
        node_colors.append('blue')  # Exchange addresses
    else:
        node_colors.append('red')  # User addresses

nx.draw_networkx_nodes(G, pos, node_color=node_colors)
nx.draw_networkx_labels(G, pos)
nx.draw_networkx_edges(G, pos)
plt.show()