In [154]:
from pathlib import Path
import pandas as pd


data_dir = Path().cwd() / '../data/preprocessed/binance'

pools = pd.read_csv(data_dir / 'pools.csv')
accounts = pd.read_csv(data_dir / 'accounts.csv')
txs = pd.read_csv(data_dir / 'txs.csv')
utxos = pd.read_csv(data_dir / 'utxos.csv')
utxos['amount'] = utxos['amount'] / 1e6

In [155]:
print(pools.columns)
print(accounts.columns)
print(txs.columns)
print(utxos.columns)

Index(['pool_id', 'stake_key', 'type'], dtype='object')
Index(['stake_key', 'address'], dtype='object')
Index(['address', 'tx_id'], dtype='object')
Index(['tx_id', 'address', 'utxo_type', 'amount'], dtype='object')

In [156]:
pools

,pool_id,stake_key,type
0,0ac5fabd6b2f75f5583a4de5b141115ab7d036ee66b130...,stake1uyhrwf39j4m5pyldk5s4ykcqdevd5v8ygshxtjpq...,owner
1,0ac5fabd6b2f75f5583a4de5b141115ab7d036ee66b130...,stake1u8gajpqath8r9zf3nzyzjfz9x260ky33n50x0wv4...,delegator
2,0ac5fabd6b2f75f5583a4de5b141115ab7d036ee66b130...,stake1uyhrwf39j4m5pyldk5s4ykcqdevd5v8ygshxtjpq...,delegator
3,11c660b87cb43e4720b053895b3137b4c08f367dbd0301...,stake1u9khq0a2uk67cahzgul4cqqywg2xlyq7erfz7nwp...,owner
4,11c660b87cb43e4720b053895b3137b4c08f367dbd0301...,stake1u9khq0a2uk67cahzgul4cqqywg2xlyq7erfz7nwp...,delegator
...,...,...,...
451,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1uy9dl6pfq3lwdkxu5m898g5wqlvqmkfhld40pkjp...,delegator
452,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1u90nsf4cwzhg2g4u4uls0tv60ru068gmqrnfnyss...,delegator
453,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1uxn4g64c5c7esrcwu4r9ykl59s2zgg56wg0sx5rz...,delegator
454,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1uypc8x856pr7sx3vrs30s9qmhyhr0yk2m9v7kxky...,delegator
455,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,stake1u9akww3p05hwcrmlnrn3x8237qvgvld2dvup6exw...,delegator

In [157]:
accounts

,stake_key,address
0,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1q8d5dndz6sx0c4g7kzvwx5v0tlp09zuj5ewm3fuzp...
1,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1q89k29h2h4fmdesec9xwctstnrdrf96x7hna9e48t...
2,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1qyp3fxdpn5xvq389p9m0r7kxqfhl6myqkgx4076w8...
3,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1qxvw2fmau8xuekehj7cnvzgvwac2wgzxey9g7vwf4...
4,stake1u804f9ke0hy35a0kx3vqmr3vcwfq7g9gzdpfxlky...,addr1qyaxudvh4xrxc7nnueq2hqxvhdle3rzqncjdahprl...
...,...,...
2230,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1qx54h5ytguprqyhq9pc67f4dq47q2rz89hnsw626w...
2231,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1qyjpwlndrk2hr737qhf4669af68lpe0ytk52j7fnj...
2232,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1qx4tsy62puu4mrjcp4ay4ryg246zaf3wdueql5uuu...
2233,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1q8kzxdpsx057tnjtwwdxnyvcnqvhqy4lrtv0nuwgp...
2234,stake1uyzsyntvlgx8l7ecaa5hfwxfjt5mc26vd4r2juvw...,addr1q8rvtz6rn20v7pp45tqhjqeamvqhpfwjjnvcfl64z...

In [158]:
txs

,address,tx_id
0,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,3cdd1b24d9fe89348f081c18b350e004812e85a0577973...
1,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,d264557dd52a4aae5f3d824bc7c185af14359296d73d9c...
2,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,d8b5666e6dd7f6c6d09d550ddde89103560bd740957940...
3,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,94998195e851158e6b3b052db4adc9241d0b9b606211d2...
4,addr1q8038usxz7d8pa6xc0yrpxvg8s99zfpafs3ezrw9s...,23a179a4f0a5f799eae8eaf71182194c3e04c37e8ff744...
...,...,...
13371,addr1qyzxp6vnghm2ajr98p3c7mmjsha2w0lcvfp4d7j6y...,e501e1616a504ff133be623cc394c0261601b56f870b1c...
13372,addr1qyzxp6vnghm2ajr98p3c7mmjsha2w0lcvfp4d7j6y...,f3885eea058804e1856c10f87f097cafe6b8899597379d...
13373,addr1qyzzjm7dnfvua4cr8qrm6qpzsakqlgnuddtrz88sd...,0b03b8d46e8e94e14af46e708898150f576c2db4815ec6...
13374,addr1z9nz8vhzdxq9dmchmy25rxcv5lcymd6jfruz2le0n...,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...
13375,addr1z9nz8vhzdxq9dmchmy25rxcv5lcymd6jfruz2le0n...,0cf3990b8a65c7270f763afb24b31987c8c13278071f79...

In [159]:
utxos

,tx_id,address,utxo_type,amount
0,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9atjfpqwdtg7ytz0pz9zcaqvx8zr2uv6ysvc4csq...,input,50000.000000
1,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9fsfa04de9xgza5xwqqy2c7unz907una9qwmpgyv...,input,159.631517
2,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q836qf2vqzv57uc42rupyw039fsvnlfuaxumry25x...,output,27796.889200
3,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,DdzFFzCqrhsgWNp9jnpRieShdN1LRy4mNzM9y23CKSKTw6...,output,1.314550
4,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q8nt4cndqrrqk248sd96kg9urgjh55sp58snu97vp...,output,151.716900
...,...,...,...,...
49264,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8tqqyccvj7402zns2tea78d42etw520fzvf22zmy...,output,1.034400
49265,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8ka486anvvxl8dg56te7c5pswta50am7a6vuu0c2...,output,1.051640
49266,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w835n68qeax023uperwgwlruk3d8yjl4k98r433nh...,output,1.055950
49267,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9zpzvuevtrchc7fugx63scn8fukdx4vr3lv7m5mh...,output,1.051640
49268,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9v5h80g9nk4qn3vxxxrzpwp2vnr4fv9jgd7jwcnk...,output,1.034400

## Construct and Clean Graph

In [160]:
pools.sort_values('type', ascending=False, inplace=True)
# Drop duplicates by 'stake_key', keep first (which will be 'owner' now)
pools.drop_duplicates(subset='stake_key', keep='first', inplace=True)

joined = pd.merge(accounts, pools, on='stake_key')
joined = pd.merge(utxos, joined, on='address', how='left')
joined.loc[joined['address'].apply(lambda x: x.startswith('Ae')), 'type'] = 'byron'
joined['type'].fillna('outside', inplace=True)
joined['pool_id'] = joined['pool_id'].fillna(joined['type'])

# unique_addr_wo_stakekeys = joined[joined['stake_key'].isna() & (joined['type'] != 'byron')]['address'].unique()
# len(unique_addr_wo_stakekeys) # TODO maybe fetch stake_keys for those outside addresses to merge them
# joined['stake_key'].fillna(joined['address'], inplace=True)
joined
# joined[joined['tx_id'] == 'a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9fa4beef098c28f70ec']

,tx_id,address,utxo_type,amount,stake_key,pool_id,type
0,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9atjfpqwdtg7ytz0pz9zcaqvx8zr2uv6ysvc4csq...,input,50000.000000,NaN,outside,outside
1,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9fsfa04de9xgza5xwqqy2c7unz907una9qwmpgyv...,input,159.631517,NaN,outside,outside
2,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q836qf2vqzv57uc42rupyw039fsvnlfuaxumry25x...,output,27796.889200,NaN,outside,outside
3,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,DdzFFzCqrhsgWNp9jnpRieShdN1LRy4mNzM9y23CKSKTw6...,output,1.314550,NaN,outside,outside
4,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q8nt4cndqrrqk248sd96kg9urgjh55sp58snu97vp...,output,151.716900,stake1u83jlr5rqnwq3s4yg22cg6f8h54kwr9zapmthkwm...,279d3af9d898261a19860ebc05eed79104915f05ad9f69...,delegator
...,...,...,...,...,...,...,...
49264,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8tqqyccvj7402zns2tea78d42etw520fzvf22zmy...,output,1.034400,NaN,outside,outside
49265,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8ka486anvvxl8dg56te7c5pswta50am7a6vuu0c2...,output,1.051640,NaN,outside,outside
49266,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w835n68qeax023uperwgwlruk3d8yjl4k98r433nh...,output,1.055950,NaN,outside,outside
49267,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9zpzvuevtrchc7fugx63scn8fukdx4vr3lv7m5mh...,output,1.051640,NaN,outside,outside
49268,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9v5h80g9nk4qn3vxxxrzpwp2vnr4fv9jgd7jwcnk...,output,1.034400,NaN,outside,outside

In [180]:
joined[joined['tx_id'] == 'a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9fa4beef098c28f70ec']

,tx_id,address,utxo_type,amount,stake_key,pool_id,type
31901,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,1.344798,stake1u9cs86t2s8vjdgguvxxuacx4x5xddcv70j466zxt...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,delegator
31902,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,1.379280,stake1u9cs86t2s8vjdgguvxxuacx4x5xddcv70j466zxt...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,delegator
31903,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,91.146909,stake1u9cs86t2s8vjdgguvxxuacx4x5xddcv70j466zxt...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,delegator
31904,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,1.555138,stake1u9cs86t2s8vjdgguvxxuacx4x5xddcv70j466zxt...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,delegator
31905,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,2.579253,stake1u9cs86t2s8vjdgguvxxuacx4x5xddcv70j466zxt...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,delegator
31906,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,input,1.413762,stake1u9cs86t2s8vjdgguvxxuacx4x5xddcv70j466zxt...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,delegator
31907,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1z9nz8vhzdxq9dmchmy25rxcv5lcymd6jfruz2le0n...,output,2.275680,stake1u9cs86t2s8vjdgguvxxuacx4x5xddcv70j466zxt...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,delegator
31908,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1z9nz8vhzdxq9dmchmy25rxcv5lcymd6jfruz2le0n...,output,3.500000,stake1u9cs86t2s8vjdgguvxxuacx4x5xddcv70j466zxt...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,delegator
31909,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9tmfp53cc8ef4hxj5req3czthpgcf3rsg54jjgpz...,output,1.000000,NaN,outside,outside
31910,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q8ff0pdlaud0dxw84p0ypqc4c74t27c5s29x3azja...,output,1.200000,NaN,outside,outside
31911,a66e2637e12ec89cfa85f448a02fe59c762bf5471b0ec9...,addr1q9kml0wa4cyfslhmfx2lvapwpa2r67synqxvzaenq...,output,91.174555,stake1u9cs86t2s8vjdgguvxxuacx4x5xddcv70j466zxt...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,delegator

In [164]:
# only internal stakepool network transactions (all paticipants are owners!)
# all of those are staking reward withdrawals! can be removed from dataset
joined_internal = joined.groupby('tx_id').apply(lambda x: x if x['type'].isin(['owner']).all() else None).reset_index(drop=True)
print('Unique stake_key:', len(joined_internal['stake_key'].unique()))
joined_internal

Unique stake_key: 78

,tx_id,address,utxo_type,amount,stake_key,pool_id,type
0,001fcc8dfe139a0ff33a9729fb964fc6cd25703713b4e3...,addr1q89y35p2udmh0uzt9slpsehknjwhglxzp7rp9cwn0...,input,3.000000,stake1ux0u9phjqemyum3xztfltghsyx3w3c7gkpvcp8gw...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,owner
1,001fcc8dfe139a0ff33a9729fb964fc6cd25703713b4e3...,addr1q89y35p2udmh0uzt9slpsehknjwhglxzp7rp9cwn0...,output,2494.661127,stake1ux0u9phjqemyum3xztfltghsyx3w3c7gkpvcp8gw...,beb5390bc047831874ad69f615a6f023ea121865c75ec3...,owner
2,003ed0dd6697747b34b2ebae0c1352dc3371fb9101cc82...,addr1q9ch985q39mdvxna85d8w3p3z6uxm7g6vgu06gm7p...,input,5.000000,stake1uy9dl6pfq3lwdkxu5m898g5wqlvqmkfhld40pkjp...,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,owner
3,003ed0dd6697747b34b2ebae0c1352dc3371fb9101cc82...,addr1q9ch985q39mdvxna85d8w3p3z6uxm7g6vgu06gm7p...,output,3162.530062,stake1uy9dl6pfq3lwdkxu5m898g5wqlvqmkfhld40pkjp...,ffb3fe58689ae0d70d6fb939a842ee78ecfa10eab56127...,owner
4,005245f254085ddbd766ff1d297ccbe3f13eb5adf5c4d9...,addr1qyutnqmj75x8zeckmlflnvkgkh6vaza5yrlm2xdtn...,input,6.000000,stake1u9yc0fln76ejlgcc6cwvqyzsykfesrcyg5j9h5dw...,c51e4e6cb25065ad0740249c66eafa11e186120602aff1...,owner
...,...,...,...,...,...,...,...
7587,ffa6a3ecdc1a655bf3aee027c2d1b2c51c4ee2264db6e4...,addr1q93q5xy2yjftztvaq6q84fjhrkwx7e6lgm96hxggq...,output,7853.840213,stake1u8z6eveex09aytvc972s039uv7rr2uk9v8xklzdl...,625ae8c8aaaead6ceebf262f380245cb61b4a3e96199b2...,owner
7588,ffb8eac53ec400531f9fc45260fa908cba50960f21723e...,addr1qxt84mrd93qwp6zr0u9f83zkfpxnx74a67ag8ezdk...,input,3.000000,stake1uxxannh600xhg6ngnfgwfza3vq6hs0n8mupumr32...,a250eb51869c6b94cbc507d22e76ed0f35d31ccabdb172...,owner
7589,ffb8eac53ec400531f9fc45260fa908cba50960f21723e...,addr1qxt84mrd93qwp6zr0u9f83zkfpxnx74a67ag8ezdk...,output,2936.652230,stake1uxxannh600xhg6ngnfgwfza3vq6hs0n8mupumr32...,a250eb51869c6b94cbc507d22e76ed0f35d31ccabdb172...,owner
7590,ffcfe8559e64ac1e8a60ebca6864c47c6cc546d6b70100...,addr1qxz2ahzjrjnz598m0x4sf0sa6jt3aqudjqg0p4he7...,input,3.000000,stake1uxsuckf8amewmqfkt6hfdhpk7udjfd37m644q5nq...,7e00129d906afbba06a6b279fcf6e4295986a1104b7f5c...,owner
7591,ffcfe8559e64ac1e8a60ebca6864c47c6cc546d6b70100...,addr1qxz2ahzjrjnz598m0x4sf0sa6jt3aqudjqg0p4he7...,output,13861.366004,stake1uxsuckf8amewmqfkt6hfdhpk7udjfd37m644q5nq...,7e00129d906afbba06a6b279fcf6e4295986a1104b7f5c...,owner

In [189]:
import json
with open(Path().cwd() / '../data/binance_pool_names.json', 'r') as f:
    binance_pool_names = json.load(f)
    
pd.options.plotting.backend = 'plotly'
staking_rewards = joined_internal[joined_internal['utxo_type'] == 'output'].groupby('pool_id')['amount'].sum().sort_values(ascending=False)
print('Staking rewards:', staking_rewards.rename(index=binance_pool_names).sum(), 'ADA')
staking_rewards.rename(index=binance_pool_names).plot(kind='bar', title='Accumulated stake pool rewards')

Staking rewards: 15937200.227481 ADA

In [193]:
# drop interal transactions (reward withdrawal)
joined = joined[~joined['tx_id'].isin(joined_internal['tx_id'].unique())]
joined

,tx_id,address,utxo_type,amount,stake_key,pool_id,type
0,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9atjfpqwdtg7ytz0pz9zcaqvx8zr2uv6ysvc4csq...,input,50000.000000,NaN,outside,outside
1,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q9fsfa04de9xgza5xwqqy2c7unz907una9qwmpgyv...,input,159.631517,NaN,outside,outside
2,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q836qf2vqzv57uc42rupyw039fsvnlfuaxumry25x...,output,27796.889200,NaN,outside,outside
3,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,DdzFFzCqrhsgWNp9jnpRieShdN1LRy4mNzM9y23CKSKTw6...,output,1.314550,NaN,outside,outside
4,000674fcf0c4c7442de4cdfc0f85f43ebd3726f49483dd...,addr1q8nt4cndqrrqk248sd96kg9urgjh55sp58snu97vp...,output,151.716900,stake1u83jlr5rqnwq3s4yg22cg6f8h54kwr9zapmthkwm...,279d3af9d898261a19860ebc05eed79104915f05ad9f69...,delegator
...,...,...,...,...,...,...,...
49264,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8tqqyccvj7402zns2tea78d42etw520fzvf22zmy...,output,1.034400,NaN,outside,outside
49265,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w8ka486anvvxl8dg56te7c5pswta50am7a6vuu0c2...,output,1.051640,NaN,outside,outside
49266,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w835n68qeax023uperwgwlruk3d8yjl4k98r433nh...,output,1.055950,NaN,outside,outside
49267,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9zpzvuevtrchc7fugx63scn8fukdx4vr3lv7m5mh...,output,1.051640,NaN,outside,outside
49268,fff7e50a4a7a57b6ffdf6f0e8e49e383b19fbe3fff3124...,addr1w9v5h80g9nk4qn3vxxxrzpwp2vnr4fv9jgd7jwcnk...,output,1.034400,NaN,outside,outside

In [194]:
joined[joined['type'] == 'byron']

,tx_id,address,utxo_type,amount,stake_key,pool_id,type
662,03fd2abce8d378f13fe8e65ea405c80528e230a0019cee...,Ae2tdPwUPEZKf13GB7EXAuRhjDvHhUbBH3opR1a56JF52w...,input,15985.364974,NaN,byron,byron
672,03fd2abce8d378f13fe8e65ea405c80528e230a0019cee...,Ae2tdPwUPEZLs8m3YLLXySUtyQ3Vg7pdC5fPYSCiVZn8yy...,output,98.900000,NaN,byron,byron
673,03fd2abce8d378f13fe8e65ea405c80528e230a0019cee...,Ae2tdPwUPEZ6avAPhQGhkqa4tBUjEaGttc4pckhA6r8VLs...,output,31.806808,NaN,byron,byron
674,03fd2abce8d378f13fe8e65ea405c80528e230a0019cee...,Ae2tdPwUPEZAV1gbg6iei5aTMcG9gq9KBFtfVWviJajHkc...,output,6783.581853,NaN,byron,byron
675,03fd2abce8d378f13fe8e65ea405c80528e230a0019cee...,Ae2tdPwUPEZ6qRqzmRuAeaHVhAMkCvfcR3bMi6ChWBJFpy...,output,98.866446,NaN,byron,byron
...,...,...,...,...,...,...,...
49046,ff3087eb4992b9b155a5817f3b535c21a0cfc98cebf7e1...,Ae2tdPwUPEYwbrXgXaRawXne6EqhsyhvwXSwSuSGMNm8r6...,input,9.085805,NaN,byron,byron
49051,ff3087eb4992b9b155a5817f3b535c21a0cfc98cebf7e1...,Ae2tdPwUPEZ4RHv6o4481ZoQFQJgFUxC1wrbZVZ5PMiZbh...,output,1448.321712,NaN,byron,byron
49052,ff3087eb4992b9b155a5817f3b535c21a0cfc98cebf7e1...,Ae2tdPwUPEYzjsYJn8qx2NnKFk9Rb1C67BSouxhuhWoCWz...,output,116.242452,NaN,byron,byron
49053,ff3087eb4992b9b155a5817f3b535c21a0cfc98cebf7e1...,Ae2tdPwUPEZFjeXR9aqoTFHYa4zj6W1vg5BSfLK9vdWzXY...,output,9545.206859,NaN,byron,byron
49054,ff3087eb4992b9b155a5817f3b535c21a0cfc98cebf7e1...,Ae2tdPwUPEZ8AEkfamG1hRx6rVK6nsnuUB5Gt9YpjDwb9E...,output,65335.906269,NaN,byron,byron

In [ ]:
# keep only transaction which have pool

In [121]:
# def aggregate(df):
#     df['amount'] = df['amount'] * df['utxo_type'].apply(lambda x: 1 if x == 'input' else -1)
#     result = {
#         # 'stake_key': df.stake_key.iloc[0],
#         # 'tx_id': df.tx_id.iloc[0],
#         'amount': df.amount.sum(),
#         'type': df.type.iloc[0]
#     }
#     return pd.Series(result)


# aggregated = joined[joined['type'].isin(['owner', 'delegator'])].groupby(['stake_key', 'tx_id']).apply(aggregate)
# # aggregated = joined.groupby(['stake_key', 'tx_id']).apply(aggregate)
# aggregated

# Notes

In [ ]:
import networkx as nx


# Create a new directed graph
G = nx.DiGraph()

# Load transactions data from directory and create graph
for filename in os.listdir('data/'):
    with open('data/' + filename, 'r') as f:
        data = json.load(f)
        # Add nodes and edges to the graph
        for transaction in data:
            G.add_edge(transaction['sender'], transaction['receiver'], weight=transaction['amount'])

# Analyze the graph
print('Number of nodes: ', G.number_of_nodes())
print('Number of edges: ', G.number_of_edges())

# Draw the graph
pos = nx.spring_layout(G)

# Determine node colors
node_colors = []
for node in G.nodes():
    if node in bitpanda_ground_truth['deposit_addrs'] or node in exchange_addresses:
        node_colors.append('blue')  # Exchange addresses
    else:
        node_colors.append('red')  # User addresses

nx.draw_networkx_nodes(G, pos, node_color=node_colors)
nx.draw_networkx_labels(G, pos)
nx.draw_networkx_edges(G, pos)
plt.show()